main>nav {
    width: 100%;
    justify-content: center;

    overflow: hidden;

    margin-bottom: 0.5em;
}

main>nav>ol {
    background-color: #1c1c1c;

    width: 100%;
    justify-content: space-around;

    padding: 0.35em;
    border: var(--base-border-thickness) dashed var(--base-border-color);
    border-radius: 1em;
}

main>nav>ol>li>a {
    user-select: none;
    cursor: pointer;
}

main>section {
    width: 100%;
    height: fit-content;

    margin-bottom: 0.5em;
    padding: 0.5em;

    justify-content: space-between;
}

main>section>section {
    flex-direction: column;

    width: calc(75% - var(--base-border-thickness) + var(--base-border-thickness) - 0.5em);

    border: var(--base-border-thickness) inset var(--base-border-color);
    border-radius: 0.4em;

    padding: 0.5em;
}

main>section>section>h1::after {
    display: inline;
    content: "   ";
}

main>section>aside {
    width: 25%;

    border: var(--base-border-thickness) inset var(--base-border-color);
    border-radius: 0.4em;

    padding: 0.5em;
}

footer>p {
    color: var(--unimportant-text-color);
    user-select: none;
}