html {
    color: #222222;

    font-family: DepartureMonoNerdFontPropo, serif, sans-serif;
    font-size: 1em;

    line-height: 1.4;
}

body {
    justify-content: center;
    flex-direction: column;
}

main {
    display: block;
    width: 75%;
    height: fit-content;
    margin: 0 auto;
}

hr {
    display: block;
    height: 1px;
    width: 95%;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em auto;
    padding: 0;
}

footer {
    display: block;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
}

p {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0.5em 0 0.5em 0;
}

img {
    display: inline;
}

a {
    display: inline;
}

span {
    display: inline;
}