html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    justify-content: center;
}

/*
 * A better looking default horizontal rule.
*/
hr {
    display: block;
    height: 1px;
    width: 95%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}