<style>
  nav.horizontal-navbar {
    width: 90%;
    margin: 0 auto;

    border: var(--border-thickness) dashed var(--border-color);
    border-radius: var(--border-radius);

    background-color: var(--theme-surface-0);
  }
  ol.horizontal-navbar {
    width: 100%;
    justify-content: space-around;
  }
  li.horizontal-navbar {
    padding: var(--padding);
  }
</style>
<nav class="horizontal-navbar">
  <ol class="horizontal-navbar">
    <li class="horizontal-navbar">
      <a href="/index.html" class="horizontal-navbar">Home</a>
    </li>
    <li class="horizontal-navbar">
      <a href="/blog.html" class="horizontal-navbar">Blog</a>
    </li>
    <li class="horizontal-navbar">
      <a href="/projects.html" class="horizontal-navbar">Projects</a>
    </li>
  </ol>
</nav>
